main .about-section{
    font-size: 0.9rem;
    text-align: justify;
    width: 65%;
    margin: auto;
    margin-top: 180px;
}
main .about-section .heading{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    color: #891515;
}
main .about-section .pc{
    font-size: 1.2rem;
    font-weight: 600;
    color: #891515;
    margin: 1rem auto;
}

main .about-section .cc{
    font-size: 1.2rem;
    font-weight: 600;
    color: #891515;
    margin: 1rem auto;
    line-height: 0;
}

main .paper-title{
    color: black;
    font-size: 0.9rem;
    font-weight: 400;
    /* line-height: 50%; */
}

main .pd{
    color: black;
    font-size: 1rem;
    font-weight: 400;
}

main .paper-content{
    font-size: 0.9rem;
    color: black;
    font-weight: 400;
}

main .about-section .wrp{
    display: grid;
    align-items: center; 
    grid-template-columns: 6fr 4fr;
    column-gap: 20px;
}

main .about-section img {
   /* margin: 1.5rem auto; */
    max-width: 100%;
    max-height: 55%;
    align-items: center;
    order: -1;
    margin-right: 0px; 
}

main .about-section .cd{
    align-items: left;
    vertical-align: top;
}

main .about-section ol li{
    list-style-type: decimal;
    color: #891515;
    font-weight: 600;
    margin: 1rem auto;
}
@media screen and (max-width: 994px) {
    main .about-section {
        width: 90%;
    }
    main .about-section img {
        width: 100%;
    }
}