* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, OpenSans, "Helvetica Neue", sans-serif;
}
html
{
  scroll-padding-top: 6vw;
}
.profile-container {
    background-color: #ddd;
    min-height: 100vh;
    display: flex;
}
.side-nav {
    position: sticky;
    top: 0;
    left: 0;
    max-height: 100vh;
    width: 350px;
    background-color: #fff;
    text-align: center;
    border-right: 1px solid #dcdcdc;
    overflow-y: auto;
    scrollbar-width: none;
}
.side-nav-header {
    margin: auto;
    padding: 1.3em 0;
    background-color: #011F4B;
    font-size: 1.1em;
    text-align: center;
}
.side-nav-header img {
    width: 80%;
    object-fit: contain;
    object-position: center;
    margin: auto;
}
.side-nav-header h3, .side-nav-header h4 {
    margin: 1rem 0;
    color: #FFF;
}
.side-nav-header h5 {
    color: #FFF;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.side-nav-links ul {
    list-style: none;
    overflow: auto;
    display: block;
}
.side-nav-links ul li {
    display: list-item;
}
.side-nav-links ul li a {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 1em;
    background: transparent;
    font-size: 0.975em;
    transition: all .1s ease-in-out;
    text-decoration: none;
    color: #222;
}
.side-nav-links ul li a:hover {
    text-decoration: underline;
}
.side-nav-links ul li a i {
    margin-right: 1em;
    background-size: 1.1em;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.profile {
    /* padding: 0 2em; */
    width: 100%;
}
.profile .header {
    background-color: #fff;
    padding: 0.75em 2em;
    position: sticky;
    top: 0;
    left: auto;
    box-shadow: 0 1px 10px 0 #dcdcdc;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.profile .header h2, .profile .header h5 {
    margin: 0.1em 0;
}
.profile .header h5 {
    font-weight: 400;
}
.profile .header .header-right:nth-child(2) {
    color: #0F1E77;
}
.profile .header .header-right:hover {
    cursor: pointer;
    text-decoration: underline;
}
.profile section {
    padding: 0 2rem;
}
.profile section .section-title {
    font-size: 1.35em;
    color: #141E61;
    font-weight: bold;
    padding: 0.5rem 0;
}
.profile section .section-content {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 1rem;
    border: 1px solid #DCDCDC;
}
.profile section .section-content .personal-section {
    display: flex;
}
.profile section .section-content .personal-section .personal-section-left {
    border-right: 1px solid #DCDCDC;
}
.profile section .section-content .personal-section img {
    width: 10em;
    height: auto;
    object-fit: contain;
    border-radius: 1em;
    margin-right: 2rem;
}
.profile section .section-content .personal-section .personal-section-right {
    line-height: 1.2em;
    margin-left: 2rem;
}
.profile section .section-content .personal-section .personal-section-right .name {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.5em;
}
.profile section .section-content .personal-section .personal-section-right .design {
    color: #295FAF;
    font-weight: 600;
    font-size: 1.05em;
    margin-bottom: 0.2em;
}
.profile section .section-content .personal-section .personal-section-right h5 {
    font-weight: 400;
    font-size: .9em;
    color: #555;
    margin-bottom: 0.2em;
}
.profile section .section-content .personal-section .personal-section-right .other {
    display: flex;
    margin: 2rem 2rem 2rem 0;
}
.profile section .section-content .personal-section .personal-section-right .other .contact-header {
    display: flex;
}
.profile section .section-content .personal-section .personal-section-right .other .contact-details {
    margin-right: 2rem;
    border-right: 1px solid #dcdcdc;
}
.profile section .section-content .personal-section .personal-section-right .other .contact-details a {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0.5em 0;
    font-size: 1em;
    font-weight: 400;
    margin-right: 2rem;
}
.profile section .section-content .personal-section .personal-section-right .other .area-of-interests {
    padding-right: 2rem;
    border-right: 1px solid #DCDCDC;
}
.profile section .section-content .personal-section .personal-section-right .other .area-of-interests .title {
    color: #555;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.7rem 0;
}
.profile section .section-content .personal-section .personal-section-right .other .area-of-interests ul {
    margin-top: 0.5em;
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 1em;
    row-gap: 0.5em;
}
.profile section .section-content .personal-section .personal-section-right .other .area-of-interests ul li {
    list-style-type: none;
}
.profile section .section-content .personal-section .personal-section-right .other .links {
    padding-right: 2rem;
    border-right: 1px solid #DCDCDC;
    padding-left: 2rem;
}
.profile section .section-content .personal-section .personal-section-right .other .links .title {
    color: #555;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.7rem 0;
}
.profile section .section-content .personal-section .personal-section-right .other .links ul {
    margin-top: 0.5em;
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 1em;
    row-gap: 0.5em;
}
.profile section .section-content .personal-section .personal-section-right .other .links ul li {
    list-style-type: none;
}
.profile section .section-content .personal-section .personal-section-right .other .links ul li a {
    text-decoration: none;
    color: inherit;
}
.profile section .education-section .education{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.5rem 0;
}
.profile section .education-section .education .short-form {
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.75em;
    border-radius: 0.5rem;
    font-weight: 700;
}
.profile section .education-section .education .first {
    background: #C3FACF;
}
.profile section .education-section .education .second {
    background: #FAC3C3;
}
.profile section .education-section .education .third {
    background: #C3E1FA;
}
.profile section .education-section .education .fourth {
    background: #C3FACF;
}
.profile section .education-section .education .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.profile section .education-section .education {
    display: flex;
    align-items: center;
}
.profile section .education-section .education .short-form-exp{
    font-size: 0.95rem;
    font-weight: 600;
    width: 9rem;
    color: #555;
}
.profile section .education-section .education .details .degree {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 2px;
}
.profile section .education-section .education .details .location {
    color: #555;
}
.profile section .projects-container .single-project {
    background-color: #FFFFFF;
    padding: 0.5rem;
    border: 1px solid #DCDCDC;
    margin: 0.4rem 0;
    border-radius: 6px;
}
.profile section .projects-container .single-project .project-title {
    font-size: 1.1rem;
    font-weight: 600;
}
.profile section .projects-container .single-project .funding-agency {
    display: flex;
    margin: 0.4rem 0;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.profile section .projects-container .single-project .funding-agency .funding-text {
    color: #295FAF;
    font-weight: 700;
    font-size: 0.9em;
}
.profile section .projects-container .single-project .funding-agency .funding {
    font-weight: 400;
    font-size: 1em;
}
.profile section .awards-container .single-award {
    background-color: #FFFFFF;
    padding: 0.5rem;
    border: 1px solid #DCDCDC;
    margin: 0.4rem 0;
    border-radius: 6px;
}
.profile section .awards-container .single-award .award-title {
    font-size: 1.1em;
    font-weight: 600;
}
.profile section .awards-container .single-award .awarding-agency {
    display: flex;
    margin: 0.4rem 0;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.profile section .awards-container .single-award .awarding-agency .awarding {
    font-weight: 600;
    font-size: 1em;
    color: #113E79;
}
.profile section .professional-activity {
    padding: 0.5rem 0;
}
.profile section .professional-activity ol{
    margin: 0 2rem;
}
.profile section .professional-activity ol li{
    padding: 0.2rem 0;
}
.profile section .professional-activity span {
    font-weight: bold;
}
.profile section .paper-presentation-container ul {
    padding: 0.3rem;
}
.profile section .paper-presentation-container ul li {
    list-style-type: decimal;
    margin: 0.7rem;
    line-height: 140%;
}
.profile section .paper-presentation-container ul li span {
    font-weight: bold;
}
.profile section .invited-talks-container ul {
    padding: 0.3rem;
}
.profile section .invited-talks-container ul li {
    list-style-type: decimal;
    margin: 0.7rem;
    line-height: 140%;
}
.profile section .invited-talks-container ul li span {
    font-weight: bold;
}
.profile section .year-change {
    padding: 0.5rem 0;
}
.profile section .publication {
    background-color: #FFFFFF;
    margin: 0.4rem 0;
    border-radius: 6px;
    padding: 0.5rem 1rem;
}
.profile section .publication .title {
    font-size: 1em;
    color: #3F51B5;
    font-weight: 700;
    display: block;
    text-decoration: none;
}
.profile section .publication .title:hover {
    text-decoration: underline;
}
.profile section .publication .author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: .9em;
    color: #61686e;
    margin: 0.1rem 0;
}
.profile section .publication .doi {
    display: flex;
    align-items: center;
    gap: 0.4em;
    margin-bottom: 0.25em;
    font-size: .9em;
}
.profile section .publication .doi-a {
    display: flex;
    align-items: center;
    gap: 0.4em;
    margin-bottom: 0.25em;
    font-size: .9em;
    text-decoration: underline;
    color: rgba(17, 62, 121, 0.7);
    font-weight: 700;
}
.profile section .publication .details {
    display: flex;
    gap: 0.4rem;
}
#publications {
    margin-bottom: 2rem;
}
::-webkit-scrollbar {
    width: .2em;
    height: 2em;
    background-color: #DCDCDC;
    border: 2px solid #DCDCDC;
}