@media screen and (max-width: 1600px) {
    .profile section .section-content .personal-section .personal-section-right .other {
        flex-direction: column;
        gap: 1rem;
    }
    .profile section .section-content .personal-section .personal-section-right .other .links {
        padding-left: unset;
    }
}
@media screen and (max-width: 1000px) {
    .side-nav {
        display: none;
    } 
    .profile section .section-content .personal-section .personal-section-right .other .contact-details,
    .profile section .section-content .personal-section .personal-section-right .other .area-of-interests,
    .profile section .section-content .personal-section .personal-section-right .other .links {
        border-right: none;
        border-bottom: 1px solid #DCDCDC;
        padding-bottom: 1rem;
    }
    .profile section .section-content .personal-section .personal-section-right .other .area-of-interests ul,
    .profile section .section-content .personal-section .personal-section-right .other .links ul {
        grid-template-columns: 1fr;
    }
    .profile section {
        padding: 0 1rem;
    }
    .profile section .section-content .personal-section .personal-section-right .other .contact-details{
        margin-right: unset;
        padding-right: unset;
        padding-left: unset;
    }
}
@media screen and (max-width: 600px) {
    .profile section .section-content .personal-section .personal-section-left{
        border-right: none;
        padding-bottom: 1rem;
    }
    .profile section .section-content .personal-section {
        flex-direction: column;
        gap: 4rem;
    }
    .profile section .section-content .personal-section .personal-section-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profile section .section-content .personal-section img, 
    .profile section .section-content .personal-section .personal-section-right .other .contact-details{
        margin-right: unset;
        padding-right: unset;
        padding-left: unset;
    }
    .profile section .section-content .personal-section .personal-section-right {
        margin-left: 0;
    }
    .profile section .section-content .personal-section .personal-section-right .personal-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 600px) {
    .profile section .publication .details {
        flex-direction: column;
        gap: unset;
    }
}