/* HERO SECTION */

.hero {
    margin-top: 100px;
    text-align: center;
    padding: 4rem 2rem;
}

.hero h1 {
    font-size: 2rem;
    color: #891515;
    margin-bottom: 1rem;
}

.hero p {
    max-width: 900px;
    margin: 0 auto 2rem;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #444;
}
.hero-btn {
    display: inline-block;
    background-color: #891515;
    color: #ffffff;
    padding: 0.8rem 1.6rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: #6f1010;
    color: #ffffff;
    text-decoration: none;
}

#more-content {
    display: none;
    margin-top: 1rem;
    text-align: justify;
}

/* Read More Button */
#readMoreBtn {
    margin-top: 1rem;
    background-color: #891515;
    color: #fff;
    padding: 0.7rem 1.4rem;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#readMoreBtn:hover {
    background-color: #6e1010;
}
/* CONTACT SECTION */
.contact-section-container {
    padding: 3rem 2rem;
}

.heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.contact-section {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.map-image iframe {
    width: 450px;
    height: 300px;
    border-radius: 10px;
    border: 0;
}