@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	
	line-height: 140%;
	font-family: Poppins, "Helvetica Neue", sans-serif;
}
body {
	overflow-x: hidden;
	font-family: Poppins, "Helvetica Neue", sans-serif;
}
p {
    text-align: justify;
}

@media screen and (max-width:1023px) {
  .burger { display: flex; }
  .nav-links { position: fixed; }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;                 /* FIXED height */
    background: #fff;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    z-index: 99999;
}
.nav-cont {
    max-width: 1000px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;          /* vertical center */
    justify-content: space-between;
    padding: 0 2rem;
}

nav {
    display: flex;
    align-items: center;
}
.ngnlab-btn {
    font-weight: 700;
    text-decoration: none;
    color: #891515;
    padding: 0.45rem 1rem;
    border-radius: 6px;
    border: 2px solid #891515;
    transition: all 0.25s ease;
    white-space: nowrap;
}

.ngnlab-btn:hover {
    background-color: #891515;
    color: #ffffff;
    box-shadow: 0 4px 12px rgba(137, 21, 21, 0.25);
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 180px;
    height: auto;
    object-fit: contain;
}



.nav-links li {
	list-style: none;
}

.nav-links li > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
}


header .nav-links li > a:hover,
header .nav-links li > a.active {
    color: #891515;
    text-decoration: underline;
}

header .dropdown:hover > .dropbtn {
    color: #891515;
}

.burger {
	display: none;
	margin-top: -5px;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: rgb(0, 0, 0);
	margin: 3px;
	transition: all 0.3s ease;
}
main {
	min-height: calc(100vh - 65px);
}
 .dropdown .dropbtn {
    font-weight: 800;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}


.navbar a:hover, .dropbtn {
	background-color: #891515;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 8px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

@media screen and (max-width:1023px) {
	body {
		overflow-x: hidden;
	}

	header {
		display: grid;
		position: fixed;
		grid-template-columns: repeat(1, 1fr);
	}

	.nav-cont {
		width: 100%;
	}

	.logo img {
		object-fit: contain;
	}

	nav {
		overflow: hidden;
		position: sticky;
		height: 100%;
		margin-right: 5%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.nav-links {
		position: fixed;
		right: 0;
		height: 100%;
		top: 8vh;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 45%;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.dropdown, .dropdown-content {
		width: 100%;
	}
	.dropdown:hover .dropdown-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.2rem;
	}

	.nav-links li {
		opacity: 1;
	}

	.burger {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-6px, -5px);
}

@media screen and (max-width:1219px){
	nav{
		font-size: 0.7rem;
	}
	ul.nav-links{ 
		font-size: 0.7rem;
	}
	.nav-links a{
		font-size: 0.7rem;
	}
}