main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100vw;
    }
main .consultancy-projects-section-container {
    font-size: 0.9rem;
    text-align: justify;
    width: 65%;
    margin: auto;
    margin-top: 80px;
    font-weight: 400;
    color: #333333; 
    }

main .consultancy-projects-section-container .heading {
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
    color: #891515;
}
main .consultancy-projects-section-container .consultancy-project {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    background-color: #FEFEFE;
    box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.15);
    width: 75%;
    margin: 0 auto 1rem auto;
    padding: 1.5rem 2rem;
    border-radius: 6px;
} 
main .consultancy-projects-section-container .consultancy-project .description {
    font-size: 1.1rem;
    font-weight: 500;
}
main .consultancy-projects-section-container .consultancy-project .year {
    font-size: 1rem;
    font-weight: 600;
    color: #555555;
}
main .consultancy-projects-section-container .consultancy-project .funding-agency {
    color: #295FAF;
    font-weight: 500;
    font-size: 1rem;
}
main .consultancy-projects-section-container .consultancy-project .other-details {
    font-size: 1rem;
    font-weight: 400;
}
main .consultancy-projects-section-container2 {
    font-size: 0.9rem;
    text-align: justify;
    width: 65%;
    margin: auto;
    margin-top: 50px;
    font-weight: 400;
    color: #333333; 
    }

main .consultancy-projects-section-container2 .heading {
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
    color: #891515;
}
main .consultancy-projects-section-container2 .consultancy-project {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    background-color: #FEFEFE;
    box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.15);
    width: 75%;
    margin: 0 auto 1rem auto;
    padding: 1.5rem 2rem;
    border-radius: 6px;
} 
main .consultancy-projects-section-container2 .consultancy-project .description {
    font-size: 1.1rem;
    font-weight: 500;
}
main .consultancy-projects-section-container2 .consultancy-project .year {
    font-size: 1rem;
    font-weight: 600;
    color: #555555;
}
main .consultancy-projects-section-container2 .consultancy-project .funding-agency {
    color: #295FAF;
    font-weight: 500;
    font-size: 1rem;
}
main .consultancy-projects-section-container2 .consultancy-project .other-details {
    font-size: 1rem;
    font-weight: 400;
}
@media screen and (max-width: 994px) {
    main .consultancy-projects-section-container {
        width: 100%;
    }
    main .consultancy-projects-section-container .consultancy-project {
        width: 90%;
    }
    main .consultancy-projects-section-container2 {
        width: 100%;
    }
    main .consultancy-projects-section-container2 .consultancy-project {
        width: 90%;
    }
}
