main .people-section-container {
    font-size: 1.3rem;
    text-align: justify;
    width: 85%;
    margin: auto;
    margin-top: 0px;
}

.director {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 2rem;
    background-color: #FEFEFE;
    padding: 2rem 0;
    box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin: 0 auto 5rem auto;
    padding: 1rem;
}
main .people-section-container .director .details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: auto;
}
main .people-section-container .director .details .name{
    font-size: 2rem;
}
main .people-section-container .director .details .role{
    font-size: 1.2rem;
}
main .people-section-container .director .details .about{
    font-size: 1rem;
    font-weight: 400;
    color: #333333;
}
main .people-section-container .director .details .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
main .people-section-container .director .details .footer .footer-btn {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* align-items: center; */
    gap: 2rem;
}
main .people-section-container .director .details .footer .footer-btn .icons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
main .people-section-container .director .details .footer .footer-btn .icons img {
    object-fit: cover;
}
main .people-section-container .director .details .footer .footer-btn .footer-a {
    display: flex;
}
main .people-section-container .director .details .footer .footer-btn .about-me-btn {
    padding: 0rem 0rem;
    display: flex;
    color: #891515;
    font-weight: 600;
    text-decoration: none;
    /* background-color: #891515;
    border: 1px solid #891515; */
    font-size: 1.2rem;
}
main .people-section-container .director .details .footer .footer-btn .about-me-btn:hover {
    color: #891515;
    /* cursor: pointer; */
    /* background-color: #FFFFFF;
    border: 1px solid #891515; */
}
main .people-section-container .director .details .footer .footer-btn .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
main .people-section-container .director .details .footer .footer-btn .icon img {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .people-section-container .director .details .footer .footer-btn .icon a {
    text-decoration: none;
}
main .people-section-container .director .details .footer .footer-btn .icon a i {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
main .people-section-container .director .details .footer .social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
main .people-section-container .director .details .footer a img {
    width: 45px;
    height: 45px;
    fill: gray;
    border-radius: 6px;
}
main .people-section-container .director .photo {
    width: 100%;
}
main .people-section-container .director .photo img {
    width: 10em;
    object-fit: cover;
    height: auto;
}
.students .undergrad-text, .students .fourth-year-text,
.students .visiting-scholars-text {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 1rem auto;
}
.students .undergrad-text {
    font-size: 2rem;
}
main .people-section-container .fourth-year, 
main .people-section-container .third-year, 
main .people-section-container .others, 
main .people-section-container .alumni, 
main .people-section-container .pg,
main .people-section-container .phd,
main .people-section-container .visiting-scholars {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.1rem;
    margin: 3rem 1rem;
    box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 6px;
    /* padding: 1rem auto; */
}
.student-member-card{
    position: relative;
    padding: unset;
    margin: auto;
}
.student-member-card .face{
    width: 100%;
    transition: 0.5s;
}
main .people-section-container .students .undergrad-text{
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 1rem auto;
}
.student-member-card .face.face1{
    position: relative;
    /* background: #222; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 6px;
    width: 100%;
    height: 100%;
}

.student-member-card:hover .face.face1{
    /* background: #011F4B; */
    transform: translateY(0);
    border-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.student-member-card .face.face1 .content{
    opacity: 1;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
    color: #333333;
    width: 100%;
    overflow: hidden;
}

.student-member-card .face.face1 .content img{
    width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: center top;
    height: 250px;
    opacity: 0.9;
    border-radius: 10px;
    background-color: #222;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.student-member-card:hover .face.face1 .content img {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transform: scale(1.1);
}
.student-member-card .face.face1 .content .content-details a {
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
    text-align: center;
}
.student-member-card .face.face1 .content .content-details a s{
    text-decoration: none;
    color: rgb(0, 200, 255);
    font-size: 0.7rem;
    text-align: center;
}
.student-member-card .face.face1 .content .content-details {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    width: 100%;
    bottom: 0;
    font-size: 0.6em;
    color: #F3F3F3;
    padding: 1rem;
    text-align: center;
}
.student-member-card .face.face1 .content h3{
    /* margin: 10px 0 0; */
    padding: 0;
    bottom: 0;
    text-align: center;
    display: block;
    /* position: absolute; */
    opacity: 1;
}

.student-member-card .face.face1 .content .content-details .linkedin-img {
    font-weight: 700;
    font-size: 0.9rem;
    text-decoration: underline;
}

.student-member-card:hover .face.face1 .content h3 {
    display: block;
    /* position: absolute; */
    opacity: 1;
}
.student-member-card .face.face2{
    position: absolute;
    background: #fff;
    color: #295faf;
    display: none;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    z-index: 2;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.student-member-card:hover .face.face2{
    transform: translateY(0);
    display: flex;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 0.8rem;
    font-weight: 800;
}

.student-member-card .face.face2 .content .name{
    margin: 0;
    padding: 0;
    color: #000000;
    font-weight: 800;
    font-size: 1.8rem;
}
.student-member-card .face.face2 .content .role{
    margin: 0 3px;
    padding: 0;
    color: #555555;
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.student-member-card .face.face2 .content .mail, .student-member-card .face.face2 .content .phone{
    margin: 0;
    padding: 0;
    color: #000000;
    font-weight: 400;
    font-size: 1.2rem;
}
.student-member-card .face.face2 .content .social-media{
    display: flex;
    gap: 0rem;
    flex-direction: column;
}

.student-member-card .face.face2 .content a{
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    color: #808080;
    font-size: 0.9rem;
    padding: 0 6px;
}

.student-member-card .face.face2 .content a:hover{
    background: #222;
    color: #fff;
}

.student-member-card .face.face2 .content a img, .student-member-card .face.face2 .content a i {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.student-member-card .face.face2 .content a .i {
    color: inherit;
}
.student-member-card .face.face2 .content .social-media .name {
    font-size: 0.8rem;
    margin: 0 0px;
}
.student-member-card .face.face2 .content .social-media .role {
    font-size: 0.8rem;
    margin: 0 0px;
    color: #891515;
}
.L {
    margin: 2rem 0;
}
@media screen and (max-width:994px) {
    main .people-section-container {
        width: 90%;
    }
    .director .photo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main .people-section-container .director {
        display: flex;
        flex-direction: column;
    }
    main .people-section-container .fourth-year, 
    main .people-section-container .third-year, 
    main .people-section-container .others, 
    main .people-section-container .alumni, 
    main .people-section-container .pg,
    main .people-section-container .phd,
    main .people-section-container .visiting-scholars {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:600px) {
    main .people-section-container .fourth-year, 
    main .people-section-container .third-year, 
    main .people-section-container .others, 
    main .people-section-container .alumni, 
    main .people-section-container .pg,
    main .people-section-container .phd,
    main .people-section-container .visiting-scholars {
        grid-template-columns: repeat(1, 1fr);
    }
    .student-member-card .face.face1 .content img {
        height: 300px;
    }
}