footer .email, footer .phone-number {
    display: flex;
    gap: 0.5rem;
    color: #FFFFFF;
}
footer .email a, footer .phone-number a {
    text-decoration: none;
    color: #FFFFFF;
}
footer {
    background-color: #891515;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    color: #FFFFFF;
    padding: 1rem;
    width: 100vw;
    font-size: 1.5rem;
}
footer .social-icons {
    display: flex;
    gap: 1rem;
}
footer .social-icons a img {
    width: 45px;
    height: 45px;
    fill: gray;
}