main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100vw;
}

main .about-section {
    font-size: 0.9rem;
    text-align: justify;
    width: 65%;
    margin: auto;
    margin-top: 151px;
    font-weight: 400;
    color: #333333;
}

main .about-section .heading {
    width: 100%;
    margin-bottom: 5px;
    color: #891515;
    text-align: center;
    font-weight: 800;
    font-size: 1.8rem;
}
#dots {
    display: inline;
}
#more {
    display: none;
}
main .about-section p {
    padding: 0.5rem 0;
}
main .about-section .read-more-btn {
    margin: 0.5rem auto;
    display: flex;
    justify-content: flex-end;
}

main .about-section .read-more {
    text-decoration: none;
    color:#006CB5;
    font-weight: 600;
    /* background-color: #282626; */
    padding: 0rem;
    outline: none;
    border: none;
    background-color: transparent;
    /* border: 1px solid #282626; */
    /* transition: all 0.5s ease-in-out; */
}

main .about-section .read-more:hover {
    /* color: #262626; */
    background-color: #FFFFFF;
    padding: 0rem;
    color:#006CB5;
    cursor: pointer;
    /* border: 1px solid #282626; */
}

main .image-section {
    width: 65%;
    margin: auto;
}

main .image-section img {
    width: 100%;
    object-fit: contain;
}

main .research-domain-section {
    width: 65%;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: #333333;
}

main .research-domain-section .heading {
    width: 100%;
    color: #891515;
    text-align: center;
    font-weight: 800;
    font-size: 1.8rem;
}

main .research-domain-section .images {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 1.5rem;
    /* transform: scaleY(); */
}

main .research-domain-section .images img {
    display: grid;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.domain-orig-card{
    position: static;
    padding: unset;
    border-radius: 16px;
}
.domain-orig-card .face{
    width: 100%;
    transition: 0.5s;
    border-radius: 16px;
}

.domain-orig-card .face.face1{
    position: relative;
    /* background: #222; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.domain-orig-card:hover .face.face1{
    /* background: #011F4B; */
    transform: translateY(0);
    border-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 16px;
}

.domain-orig-card .face.face1 .content{
    opacity: 1;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
    color: #333333;
    border-radius: 16px;
    width: 100%;
    overflow: hidden;
}

.domain-orig-card .face.face1 .content img{
    width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: center top;
    height: 250px;
    opacity: 1;
    border-radius: 10px;
    background-color: #222;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.domain-orig-card:hover .face.face1 .content img {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transform: scale(1.1);
}
.domain-orig-card .face.face1 .content .content-details a {
    text-decoration: none;
    color: #F3F3F3;
    font-size: 0.7rem;
    text-align: center;
}
.domain-orig-card .face.face1 .content .content-details {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    width: 100%;
    height: 100%;
    font-size: 0.6em;
    color: #F3F3F3;
    padding: 1rem;
    text-align: center;
    border-radius: 16px;
}
.domain-orig-card:hover .face.face1 .content .content-details {
    display: flex;
}
.domain-orig-card .face.face1 .content h3{
    /* margin: 10px 0 0; */
    padding: 0;
    bottom: 0;
    text-align: center;
    display: block;
    /* position: absolute; */
    opacity: 1;
    font-size: 1.5rem;
}

.domain-orig-card:hover .face.face1 .content h3 {
    display: block;
    /* position: absolute; */
    opacity: 1;
}
.domain-orig-card .face.face2{
    position: absolute;
    background: #fff;
    color: #000000;
    display: none;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    z-index: 2;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.domain-orig-card:hover .face.face2{
    transform: translateY(0);
    display: flex;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.domain-orig-card .face.face2 .content .name{
    margin: 0;
    padding: 0;
    color: #000000;
    font-weight: 800;
    font-size: 1.8rem;
}
.domain-orig-card .face.face2 .content .role{
    margin: 0;
    padding: 0;
    color: #000000;
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
}
.domain-orig-card .face.face2 .content .mail, .domain-orig-card .face.face2 .content .phone{
    margin: 0;
    padding: 0;
    color: #000000;
    font-weight: 400;
    font-size: 1.2rem;
}
.domain-orig-card .face.face2 .content .social-media{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.domain-orig-card .face.face2 .content a{
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
}

.domain-orig-card .face.face2 .content a:hover{
    background: #222;
    color: #fff;
}

.domain-orig-card .face.face2 .content a img, .domain-orig-card .face.face2 .content a i {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.domain-orig-card .face.face2 .content a .i {
    color: inherit;
}
.domain-orig-card .face.face2 .content .social-media .name {
    font-size: 1rem;
}
.domain-orig-card .face.face2 .content .social-media .role {
    font-size: 1rem;
}

main .research-domain-section .images .img1 {
    grid-row: 2;
    grid-column: 2;
}
main .research-domain-section .images img {
    border-radius: 50%;
}

main .research-domain-section .images .img2 {
    grid-row: 1;
    grid-column: 2;
    transform: rotate(0deg);
}

main .research-domain-section .images .img3 {
    grid-row: 1;
    grid-column: 3;
    /* transform: rotate(0deg); */
}

main .research-domain-section .images .img4 {
  grid-row: 3;
  grid-column: 2;
  transform: rotate(0deg);
}

main .research-domain-section .images .img5 {
    grid-row: 3;
  grid-column: 1;
  transform: rotate(0deg);
}

main .research-domain-section .images .img6 {
    grid-row: 1;
  grid-column: 1;
  transform: rotate(0deg);
}
main .research-domain-section .images .img7 {
    grid-row: 3;
  grid-column: 3;
  transform: rotate(0deg);
}
main .research-domain-section .images .img8 {
    grid-row: 2;
  grid-column: 1;
  transform: rotate(0deg);
}
main .research-domain-section .images .img9 {
    grid-row: 2;
  grid-column: 3;
  transform: rotate(0deg);
}

main .contact-section-container {
    width: 65%;
    margin: 4rem auto;
}

main .contact-section-container .heading {
    width: 100%;
    color: #891515;
    text-align: center;
    font-weight: 800;
    font-size: 1.8rem;
}

main .logo-section-container {
    width: 85%;
    margin: 2rem auto;
}

main .logo-section-container .heading {
    width: 100%;
    color: #891515;
    text-align: center;
    font-weight: 800;
    font-size: 1.8rem;
    margin-top: 3%;
}

main .news {
    width: 65%;
    margin: 1.5rem auto;
    margin-top: 0rem;
}

main .news .heading {
    width: 100%;
    color: #891515;
    text-align: center;
    font-weight: 800;
    font-size: 1.8rem;
}

main .contact-section-container .contact-section {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 2rem;
    margin: 2rem auto;
}

main .contact-section-container .contact-section img {
    width: 100%;
    height: 100%;
}

main .contact-section-container .contact-section .map-image iframe {
    height: 230px;
    width: 100%;
}

main .contact-section-container .contact-section .address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.3rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: #333333;
}

main .contact-section-container .contact-section .address .address-title {
    width: 100%;
    color: #891515;
    font-weight: 800;
    font-size: 1.5rem;
}

main .contact-section-container .contact-section .address .email {
    display: flex;
    gap: 0.5rem;
}

main .contact-section-container .contact-section .address a {
    text-decoration: none;
    color: #262626;
}
main .contact-section-container .contact-section .address a:hover {
    text-decoration: underline;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.img-slider {
    position: relative;
    height: 300px;
    margin: 0 auto;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.img-slider::-webkit-scrollbar {
    display: none;
}
.img-slider .slider-container {
    position: absolute;
    display: flex;
    width: 200%;
    top: 0;
    left: 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    animation: slider 10s infinite;
}
.img-slider .slider-container .slide {
    position: relative;
    width: 33.33333333%;
    height: 100%;
    float: left;
    overflow: hidden;
    object-fit: cover;
    scroll-snap-align: start;
}
@keyframes slider {
    0%, 25%, 100%{left: 0}
    
    30%, 55%{left: -50%}
    
    60%, 85%{left: -100%}
}

.news .people-section-cont .arrow {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-end;
}

.news .people-section-cont{
    font-size: 1rem;
    text-align: justify;
    width: 100%;
    margin: auto;
}

.news .people-section-container .director .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
}
.news .people-section-cont .director .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
}
.news .people-section-container .director .details .name{
     font-size: 1rem;
    font-weight: bold;
}
.news .people-section-cont .director .details .name{
    font-size: 1rem;
    font-weight: bold;
}
.news .people-section-container .director .details .role{
    font-size: 0.7rem;
}
.news .people-section-cont .director .details .role{
    font-size: 0.7rem;
}
.news .people-section-container .director .details .about{
    font-size: 0.7rem;
    font-weight: 400;
    color: #333333;
}
.news .people-section-cont .director .details .about{
    font-size: 0.7rem;
    font-weight: 400;
    color: #333333;
}

.news .people-section-cont .director .photo {
    width: 100%;
    vertical-align: middle;
}
.news .people-section-container .director .photo img {
    width: 100%;
    object-fit: cover;
    height: 70%;
    align-items: center;
    vertical-align: middle;
}
.news .people-section-cont .director .photo img {
    width: 10em;
    object-fit: cover;
    height: 10em;
    object-position: center center;
    border-radius: 16px;
}

@media screen and (max-width:1000px) {
    main .about-section, main .image-section, main .contact-section-container {
        width: 90%;
    }
    main .research-domain-section {
        width: 90%;
    }
}

@media screen and (max-width:994px) {
    main .research-domain-section .images {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: unset;
    }
    .domain-orig-card .face.face1 .content .content-details {
        display: flex;
    }
    main .contact-section-container .contact-section .map-image iframe {
        height: 400px;
    }
    main .news {
        width: 95%;
    }
    main .research-domain-section .images .img1,
    main .research-domain-section .images .img2,
    main .research-domain-section .images .img3,
    main .research-domain-section .images .img4,
    main .research-domain-section .images .img5,
    main .research-domain-section .images .img6,
    main .research-domain-section .images .img7,
    main .research-domain-section .images .img8,
    main .research-domain-section .images .img9 {
        grid-row: unset;
        grid-column: unset;
    }

    main .contact-section-container .contact-section {
        grid-template-columns: 100%;
    }
    main .research-domain-section .images img {
        border-radius: 16px;
        height: 400px;
    }
    .domain-orig-card .face.face1 .content img {
        border-radius: 16px;
        height: 400px;
    }
    .domain-orig-card .face.face1 .content h3 {
        font-size: 2rem;
    }
    .director {
        flex-direction: column;
    }
    .img-slider .even {
        flex-direction: column;
    }
    .img-slider {
        height: 500px;
    }
    .img-slider .slider-container {
        width: 300%;
    }
    .img-slider .slider-container .slide {
        width: 100%;
    }
    @keyframes slider {
        0%, 25%, 100%{left: 0}
        
        30%, 55%{left: -100%}
        
        60%, 85%{left: -200%}
    }
}
.news-container {
    padding-bottom: 1.5rem;
}
.mySlides {
    display: none;
    gap: 0.5rem;
    width: 100%;
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.2);
    padding: 1rem 1.5rem;
    border-radius: 6px;
}
.mySlides img {
    vertical-align: middle;
    height: 15em;
    object-fit: cover;
    display: flex;
    width: 30em;
    margin: auto;
    border-radius: 1rem;
}
.mySlides .arrow {
    color: #3F51B5;
    text-decoration: none;
    font-weight: 600;
}
.mySlides .arrow:hover {
    text-decoration: underline;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    width: 65%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    /* width: auto; */
    padding: 16px;
    margin-top: -22px;
    /* color: white; */
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    /* user-select: none; */
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    /* position: absolute; */
    bottom: 8px;
    width: 100%;
    text-align: center;
    color: #333333;
}
.text .name {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    font-weight: 800;
}
.text .about {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 400;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.actives, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    } 
    to {
        opacity: 1
    }
}
@media only screen and (max-width: 994px) {
    .slideshow-container {
        width: unset;
    }
    .mySlides img {
        width: 70%;
    }
    .mySlides {
        /* flex-direction: column; */
        width: 90%;
        margin: auto;
    }
}
@media only screen and (max-width: 768px) {
    .mySlides {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    .mySlides img {
        width: 90%;
    }
    .text {
        width: 90%;
        margin: auto;
    }
}
@media only screen and (max-width: 300px) {
    .prev, .next,.text {
        font-size: 11px
    }
}
