@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-align: justify;
	line-height: 170%;
	font-family: Poppins, "Helvetica Neue", sans-serif;
}
body {
	overflow-x: hidden;
}

header {
	background-color: #fff;
	width: 100%;
	box-shadow: 2px 5px #E4E4E4;
	margin-bottom: 2rem;
	position: fixed;
	z-index: 99999;
	height: 150px;
}

nav {
	margin-left: 2rem;
	margin-right: 2rem;
	display: grid;
	grid-template-columns: 100%;
	align-items: center;
	padding: 2rem;
}

.logo {
	display: flex;
	width: 100%;
	margin: auto;
}

.logo img {
	margin: auto;
	object-fit: contain;
}

.nav-links {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 800;
}

.nav-links a:hover,
.nav-links .active {
	color: #891515;
	text-decoration: underline;
}

.burger {
	display: none;
	margin-top: -5px;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: rgb(0, 0, 0);
	margin: 3px;
	transition: all 0.3s ease;
}

@media screen and (max-width:1000px) {
	body {
		overflow-x: hidden;
	}

	header {
		display: grid;
		position: fixed;
		grid-template-columns: repeat(2, 1fr);
	}

	.logo img {
		width: 150px;
		height: 150px;
		object-fit: contain;
	}

	nav {
		overflow: hidden;
		position: sticky;
		height: 100%;
		margin-right: 10%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.nav-links {
		position: fixed;
		right: 0;
		height: 100%;
		top: 8vh;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}

	.nav-links li {
		opacity: 1;
	}

	.burger {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-6px, -5px);
}