@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-align: justify;
	line-height: 140%;
	font-family: Poppins, "Helvetica Neue", sans-serif;
}
body {
	overflow-x: hidden;
	font-family: Poppins, "Helvetica Neue", sans-serif;
}

header {
	background-color: #fff;
	width: 100%;
	margin: auto;
	box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.2);
	margin-bottom: 2rem;
	position: fixed;
	z-index: 99999;
	display: flex;
}
.nav-cont {
	margin: auto;
	display: flex;
}

nav {
	margin-left: 2rem;
	display: grid;
	grid-template-columns: 100%;
	align-items: center;
	padding: 2rem;
}

.logo {
	display: flex;
	width: 100%;
	/* margin: auto; */
}

.logo img {
	margin: auto;
	object-fit: contain;
	width: 10em;
}

.nav-links {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	gap: 3.5rem;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 800;
}

.nav-links a:hover,
.nav-links .active, 
.dropdown:hover,
.dropbtn:hover {
	color: #891515;
	text-decoration: underline;
}

.burger {
	display: none;
	margin-top: -5px;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: rgb(0, 0, 0);
	margin: 3px;
	transition: all 0.3s ease;
}
main {
	min-height: calc(100vh - 65px);
}
  
.dropdown .dropbtn {
	font-size: inherit;
	font-weight: 800;
	border: none;
	outline: none;
	/* padding: 14px 16px; */
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.2rem;
}

.navbar a:hover, .dropbtn {
	background-color: #891515;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 8px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

@media screen and (max-width:1220px) {
	body {
		overflow-x: hidden;
	}

	header {
		display: grid;
		position: fixed;
		grid-template-columns: repeat(1, 1fr);
	}

	.nav-cont {
		width: 100%;
	}

	.logo img {
		object-fit: contain;
	}

	nav {
		overflow: hidden;
		position: sticky;
		height: 100%;
		margin-right: 10%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.nav-links {
		position: fixed;
		right: 0;
		height: 100%;
		top: 8vh;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 45%;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.dropdown, .dropdown-content {
		width: 100%;
	}
	.dropdown:hover .dropdown-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.2rem;
	}

	.nav-links li {
		opacity: 1;
	}

	.burger {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-6px, -5px);
}