main .people-section-container {
    font-size: 1.5rem;
    text-align: justify;
    width: 93%;
    margin: auto;
    margin-top: 140px;
}
.people-section-container .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 1.8rem;
    color: #891515;
    margin: 0 auto 0 auto;
}
.faculty{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-column-gap: 2rem;  */
    /* grid-gap: 25; */
    background-color: #FEFEFE;
    /* padding: 1rem 0; */
}

.faculty .directors {
    grid-column-start: 2;
    grid-column-end: 6;
}
.faculty .staff1 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.faculty .staff2 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.faculty .staff3 {
    grid-column-start: 5;
    grid-column-end: 7;
}

.faculty .wrp{
    /* display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 20; */
    display: flex;
    gap: 1rem;
    background-color: #FEFEFE;
    padding: 2rem 0;
    box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.1);
    margin: 0 auto 5rem auto;
    padding: 1rem; 
    margin: 1rem;
} 

main .people-section-container .faculty .details {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex: 1;
}
main .people-section-container .faculty .details .name{
    font-size: 1.3rem;
    text-align: left;
}
main .people-section-container .faculty .details .role{
    font-size: 1rem;
}
main .people-section-container .faculty .details .about{
    font-size: 0.75rem;
    font-weight: 400;
    color: #333333;
}

main .people-section-container .faculty .details .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
main .people-section-container .faculty .details .footer .footer-btn {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* align-items: center; */
    gap: 0.5rem;
}
main .people-section-container .faculty .details .footer .footer-btn .icons{
    display: flex;
    justify-content: space-between;
    width: 15%;
}
main .people-section-container .faculty .details .footer .footer-btn .icons img {
    object-fit: cover;
}
main .people-section-container .faculty .details .footer .footer-btn .footer-a {
    display: flex;
}
main .people-section-container .faculty .details .footer .footer-btn .about-me-btn {
    padding: 0rem 0rem;
    display: flex;
    color: #006CB5;
    font-weight: 800;
    text-decoration: none;
    font-size: medium;
}
main .people-section-container .faculty .details .footer .footer-btn .about-me-btn:hover {
    color: #006CB5;
    /* cursor: pointer; */
    /* background-color: #FFFFFF;
    border: 1px solid #891515; */
}
main .people-section-container .faculty .details .footer .footer-btn .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
main .people-section-container .faculty .details .footer .footer-btn .icon img {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .people-section-container .faculty .details .footer .footer-btn .icon a {
    text-decoration: none;
}

main .people-section-container .faculty .details .footer .social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
main .people-section-container .faculty .details .footer a img {
    width: 30px;
    height: 30px;
    fill: gray;
    border-radius: 6px;
}

main .people-section-container .faculty .photo img {
    width: 6em;
    height: 6em;
    object-fit: cover;
    object-position: center center;
    border-radius: 0.5em;
}

.director {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 0rem;
    background-color: #FEFEFE;
    padding: 2rem 0;
    box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto 2rem auto;
    padding: 1rem;
}
main .people-section-container .director .details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: auto;
}
main .people-section-container .director .details .name{
    font-size: 2rem;
}
main .people-section-container .director .details .role{
    font-size: 1.2rem;
}
main .people-section-container .director .details .about{
    font-size: 1rem;
    font-weight: 400;
    color: #333333;
}
main .people-section-container .details .about a {
    color: #333333;
    text-decoration: none;
    font-size: 0.7rem;
}
main .people-section-container .details .about a:hover {
    text-decoration: underline;
}
main .people-section-container .director .details .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
main .people-section-container .director .details .footer .footer-btn {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* align-items: center; */
    gap: 2rem;
}
main .people-section-container .director .details .footer .footer-btn .icons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
main .people-section-container .director .details .footer .footer-btn .icons img {
    object-fit: cover;
}
main .people-section-container .director .details .footer .footer-btn .footer-a {
    display: flex;
}
main .people-section-container .directors .details .footer .footer-btn .about-me-btn {
    padding: 0rem 0rem;
    display: flex;
    color: #891515;
    font-weight: 800;
    text-decoration: none;
    /* background-color: #891515;
    border: 1px solid #891515; */
}
main .people-section-container .faculty .directors .details .footer .footer-btn .icons {
    width: 100%;
}
main .people-section-container .directors .details .footer .footer-btn .about-me-btn:hover {
    color: #891515;
    /* cursor: pointer; */
    /* background-color: #FFFFFF;
    border: 1px solid #891515; */
}
main .people-section-container .director .details .footer .footer-btn .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
main .people-section-container .director .details .footer .footer-btn .icon img {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .people-section-container .director .details .footer .footer-btn .icon a {
    text-decoration: none;
}
main .people-section-container .director .details .footer .footer-btn .icon a i {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
main .people-section-container .director .details .footer .social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
main .people-section-container .director .details .footer a img {
    width: 45px;
    height: 45px;
    fill: gray;
    border-radius: 6px;
}
main .people-section-container .director .photo {
    width: 100%;
}
main .people-section-container .director .photo img {
    width: 10em;
    object-fit: cover;
    height: auto;
}
.students .undergrad-text, .students .fourth-year-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 1rem auto;
}
.students .undergrad-text {
    font-size: 2rem;
}
main .people-section-container .fourth-year, 
main .people-section-container .third-year, 
main .people-section-container .others, 
main .people-section-container .alumni, 
main .people-section-container .pg,
main .people-section-container .phd {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin: 4rem auto;
    box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 6px;
    /* padding: 1rem auto; */
}
.student-member-card{
    position: static;
    padding: unset;
}
.student-member-card .face{
    width: 100%;
    transition: 0.5s;
}

.student-member-card .face.face1{
    position: relative;
    /* background: #222; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 6px;
    width: 100%;
    height: 100%;
}

.student-member-card:hover .face.face1{
    /* background: #011F4B; */
    transform: translateY(0);
    border-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.student-member-card .face.face1 .content{
    opacity: 1;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
    color: #333333;
    width: 100%;
    overflow: hidden;
}

.student-member-card .face.face1 .content img{
    width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: center top;
    height: 250px;
    opacity: 0.9;
    border-radius: 10px;
    background-color: #222;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.student-member-card:hover .face.face1 .content img {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transform: scale(1.1);
}
.student-member-card .face.face1 .content .content-details a {
    text-decoration: none;
    color: #F3F3F3;
    font-size: 0.7rem;
    text-align: center;
}
.student-member-card .face.face1 .content .content-details {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    width: 100%;
    bottom: 0;
    font-size: 0.6em;
    color: #F3F3F3;
    padding: 1rem;
    text-align: center;
}
.student-member-card .face.face1 .content h3{
    /* margin: 10px 0 0; */
    padding: 0;
    bottom: 0;
    text-align: center;
    display: block;
    /* position: absolute; */
    opacity: 1;
}

.student-member-card:hover .face.face1 .content h3 {
    display: block;
    /* position: absolute; */
    opacity: 1;
}
.student-member-card .face.face2{
    position: absolute;
    background: #fff;
    color: #000000;
    display: none;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    z-index: 2;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.student-member-card:hover .face.face2{
    transform: translateY(0);
    display: flex;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.student-member-card .face.face2 .content .name{
    margin: 0;
    padding: 0;
    color: #000000;
    font-weight: 800;
    font-size: 1.8rem;
}
.student-member-card .face.face2 .content .role{
    margin: 0;
    padding: 0;
    color: #000000;
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
}
.student-member-card .face.face2 .content .mail, .student-member-card .face.face2 .content .phone{
    margin: 0;
    padding: 0;
    color: #000000;
    font-weight: 400;
    font-size: 1.2rem;
}
.student-member-card .face.face2 .content .social-media{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.student-member-card .face.face2 .content a{
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
}

.student-member-card .face.face2 .content a:hover{
    background: #222;
    color: #fff;
}

.student-member-card .face.face2 .content a img, .student-member-card .face.face2 .content a i {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.student-member-card .face.face2 .content a .i {
    color: inherit;
}
.student-member-card .face.face2 .content .social-media .name {
    font-size: 1rem;
}
.student-member-card .face.face2 .content .social-media .role {
    font-size: 1rem;
}
@media screen and (max-width:994px) {
    main .people-section-container {
        width: 90%;
    }
    .director .photo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main .people-section-container .director {
        display: flex;
        flex-direction: column;
    }
    main .people-section-container .fourth-year, 
    main .people-section-container .third-year, 
    main .people-section-container .others, 
    main .people-section-container .alumni, 
    main .people-section-container .pg,
    main .people-section-container .phd {
        grid-template-columns: repeat(2, 1fr);
    } 
    .faculty {
        grid-template-columns: 100%;
    }
    .faculty .wrp {
        flex-direction: column;
        width: 95%;
    }
    main .people-section-container .faculty .details {
        margin: unset;
    }
    .faculty .wrp .photo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .faculty .directors {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    .faculty .staff1 {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    .faculty .staff2 {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    .faculty .staff3 {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
}
@media screen and (max-width:600px) {
    main .people-section-container .fourth-year, 
    main .people-section-container .third-year, 
    main .people-section-container .others, 
    main .people-section-container .alumni, 
    main .people-section-container .pg,
    main .people-section-container .phd {
        grid-template-columns: repeat(1, 1fr);
    }
    .student-member-card .face.face1 .content img {
        height: 300px;
    }
}
main .people-section-container .faculty .directors .details .footer .footer-btn .icons .about-me-btn{
    width: 2200%;
    justify-content: flex-end;
}