.working-groups-section-container {
    font-size: 1.1rem;
    text-align: justify;
    width: 65%;
    margin: auto;
    margin-top: 180px;
}
.working-groups-section-container .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 2.2rem;
    color: #891515;
    margin: 0 auto 2rem auto;
}
.working-groups-section-container .working-group-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}
.working-groups-section-container .working-group-section .heading-text {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
}
.working-groups-section-container .working-group-section .domain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 1.5rem auto;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    padding: 1.5rem 1rem;
    border-radius: 6px;
}
.working-groups-section-container .working-group-section img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.working-groups-section-container .working-group-section .rev {
    display: flex;
    grid-template-columns: 75% 25%;
}
.working-groups-section-container .working-group-section .text {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.working-groups-section-container .working-group-section .arrow {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-end;
}
.working-groups-section-container .working-group-section .arrow img {
    width: 25px;
    height: 25px;
}
@media screen and (max-width: 1600px) {
    .working-groups-section-container .working-group-section {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 994px) {
    .working-groups-section-container {
        width: 90%;
    }
    .working-groups-section-container .working-group-section .domain, .working-groups-section-container .working-group-section .rev {
        grid-template-columns: 100%;
    }
    .working-groups-section-container .working-group-section {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .working-groups-section-container .working-group-section {
        grid-template-columns: repeat(1, 1fr);
    }
}