.working-groups-section-container {
    font-size: 1.1rem;
    text-align: justify;
    width: 65%;
    margin: auto;
    margin-top: 180px;
}
.working-groups-section-container .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 2.2rem;
    color: #891515;
    margin: 0 auto 2rem auto;
}
.working-groups-section-container .working-group-section .domain {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 1.5rem;
    margin: 2.5rem auto;
}
.working-groups-section-container .working-group-section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.working-groups-section-container .working-group-section .rev {
    display: flex;
    grid-template-columns: 75% 25%;
}
.working-groups-section-container .working-group-section .text {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 994px) {
    .working-groups-section-container {
        width: 90%;
    }
    .working-groups-section-container .working-group-section .domain, .working-groups-section-container .working-group-section .rev {
        grid-template-columns: 100%;
    }
    .working-groups-section-container .working-group-section .rev {
        display: flex;
        flex-direction: column-reverse;
    }
}